[DEFAULT]
test_mode = True
email_age_days = 730
min_size_MB = 5
move_to_trash = False
ask_confirmation = True
standard_folder = INBOX.INBOX.Trash
otherFolderRenameThis = "[Gmail]/Sent Mail"

[mailserver]
server = mailserver
user = account
password = password
